### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [7]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

In [8]:
purchase_data
#uniqueSN= purchase_data.SN.unique
unique_users= pd.DataFrame(purchase_data['SN'].unique())
#count of unique users
unique_users_ct = pd.DataFrame(unique_users.count(),columns=['Total Players'])
unique_users_ct

   Total Players
0            576

In [9]:
# Number of Purchases to Total Revenue
print(purchase_data.columns)

#number of unique items
unique_items = purchase_data['Item Name'].nunique()

#number of Purchases
num_purchases =  purchase_data['Purchase ID'].count()

#Total Revenue
Total_rev = purchase_data.Price.sum() #why no axis or why is there error when adding the axis


Total_rev = pd.to_numeric(Total_rev)
num_purchases = pd.to_numeric(num_purchases)
unique_items = pd.to_numeric(unique_items)

#Average Price
average_price = (Total_rev/num_purchases)

#Create Dataframe
d = {'Number of Unique Items': [unique_items], 'Average Price': [average_price], 'num_purchases':[num_purchases], 'Total Revenue':[Total_rev]}
summary = pd.DataFrame(data=d)
summary.style.hide_index()

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [10]:
mf_count_percent = purchase_data.drop_duplicates(subset='SN', keep='last').set_index('Purchase ID')
mf_count_percent = mf_count_percent.groupby('Gender')
mfcount=pd.DataFrame(mf_count_percent['Gender'].count())
mfcount.columns=['Total Count']
mfcount['Percentage of Players'] = mf_count_percent['Gender'].count()/mfcount['Total Count'].sum()*100
mfcount['Percentage of Players']= mfcount['Percentage of Players'].map("{:.2f} %".format)
mfcount

                       Total Count Percentage of Players
Gender
Female                          81               14.06 %
Male                           484               84.03 %
Other / Non-Disclosed           11                1.91 %


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
purchase_data.head(2)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56

In [12]:
# Purchase Count
purchase_count = purchase_data.groupby('Gender').count()
#This extracts only the age column
purchase_count = purchase_count['Age']
# Purchase Value
total_purchase_value = purchase_data.drop(columns = ['Purchase ID','SN','Age','Item ID','Item Name'])
total_purchase_value = purchase_data.groupby('Gender').sum()
total_purchase_value = total_purchase_value['Price']

# Average Purchase Price
average_purchase_price = total_purchase_value/purchase_count

# Average Total Purchase Per Person, combine into a enw dataframe
Final_output = pd.concat([purchase_count, total_purchase_value, average_purchase_price], axis=1)
Final_output = Final_output.rename(columns={0: 'Average Purchase Price'})
Final_output

                       Age    Price  Average Purchase Price
Gender
Female                 113   361.94                3.203009
Male                   652  1967.64                3.017853
Other / Non-Disclosed   15    50.19                3.346000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [13]:
# Pull only the columns we need
player_demographics = purchase_data.loc[:,["Gender","SN","Age"]]
player_demographics=player_demographics.drop_duplicates()

# Player numbers alerady calculated as unique users ct
num_players = player_demographics.count()[1]
pd.DataFrame({"Total Players": [num_players]})

   Total Players
0            576

In [14]:
bins = [0,9.90,14.90,19.90,24.90,29.90,34.90,39.90,99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29","30-34","35-39","40+"]

# Categorize
player_demographics["Ages Binned"]= pd.cut(purchase_data["Age"], bins,labels =group_names)#, labels=group_names)

# Calculate the numbers and % for each age group
age_demographics_totals = player_demographics["Ages Binned"].value_counts()
age_demographics_percent = age_demographics_totals / num_players *100

# Assign to frame
age_demographics = pd.DataFrame({"Total": age_demographics_totals, "percent": age_demographics_percent})
age_demographics = age_demographics.round(2)
age_demographics.sort_index()

       Total  percent
<10       17     2.95
10-14     22     3.82
15-19    107    18.58
20-24    258    44.79
25-29     77    13.37
30-34     52     9.03
35-39     31     5.38
40+       12     2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
# Categorize and bin
bins = [0,9.90,14.90,19.90,24.90,29.90,34.90,39.90,99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29","30-34","35-39","40+"]

# Pull only the columns we need
purchasing_analysis = purchase_data.loc[:,["Gender","SN","Age","Item ID","Item Name","Price"]]
purchasing_analysis["Ages Binned"]= pd.cut(purchase_data["Age"], bins,labels =group_names)#, labels=group_names)
# Perform Count
item_count = purchasing_analysis.groupby('Ages Binned')['Item ID'].count()
pd.DataFrame(item_count)
# Average Purchase Price
avg_price = purchasing_analysis.groupby('Ages Binned')['Price'].mean()
pd.DataFrame(avg_price)
# Total Purchase Value
avg_total_Price = item_count*avg_price
pd.DataFrame(avg_total_Price)
# Avg Total Purchase per person
User_count = purchasing_analysis.groupby('Ages Binned')['Ages Binned'].count()
Avg_total_per_person = avg_total_Price/User_count
Avg_total_per_person
User_count
avg_price
item_count.dtype
# Join all into one frame
Purchasing_analysis_final = pd.DataFrame({"Purchase Count": User_count, "Average Purchase Price": avg_price,"Total Purchase Value": avg_total_Price, "Average Total Purchase per Person": Avg_total_per_person})
Purchasing_analysis_final.sort_index()

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Ages Binned,,,,
<10,23,3.353478,77.13,3.353478
10-14,28,2.956429,82.78,2.956429
15-19,136,3.035956,412.89,3.035956
20-24,365,3.052219,1114.06,3.052219
25-29,101,2.900990,293.00,2.900990
30-34,73,2.931507,214.00,2.931507
35-39,41,3.601707,147.67,3.601707
40+,13,2.941538,38.24,2.941538

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [16]:
topspenders = purchase_data.loc[:,["SN","Item ID","Price"]]
# Transaction Count
topspenderscount= topspenders.groupby('SN')['Item ID'].count()
# Average $'s spent'
topspendersdollars= topspenders.groupby('SN')['Price'].mean()
# Total Purchase Value
Total_Purchase_Value = topspenderscount*topspendersdollars
topspenderscount
topspendersdollars
Total_Purchase_Value

# Join all into one frame
topspenders_final = pd.DataFrame({"Purchase Count": topspenderscount, "Average Purchase Price": topspendersdollars,"Total Purchase Value": Total_Purchase_Value})
topspenders_final.sort_values(by='Purchase Count',ascending=False)

               Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                   5                3.792000                 18.96
Iral74                      4                3.405000                 13.62
Idastidru52                 4                3.862500                 15.45
Asur53                      3                2.480000                  7.44
Inguron55                   3                3.703333                 11.11
Aina42                      3                3.073333                  9.22
Ilarin91                    3                4.233333                 12.70
Idai61                      3                2.743333                  8.23
Umolrian85                  3                2.710000                  8.13
Ialallo29                   3                3.946667                 11.84
Tyisur83                    3                1.786667                  5.36
Tyidaim51                   3                3.943333                 11.83
Pheodaisun84                3                2.770000                  8.31
Hiaral50                    3                1.396667                  4.19
Haillyrgue51                3                3.166667                  9.50
Zontibe81                   3                2.676667                  8.03
Iri67                       3                3.790000                 11.37
Hada39                      3                2.856667                  8.57
Raesty92                    3                2.910000                  8.73
Rarallo90                   3                3.016667                  9.05
Chadolyla44                 3                3.820000                 11.46
Saedaiphos46                3                2.943333                  8.83
Saistyphos30                3                3.443333                 10.33
Siallylis44                 3                3.456667                 10.37
Chamimla85                  3                2.100000                  6.30
Silaera56                   3                2.826667                  8.48
Chamjask73                  3                4.610000                 13.83
Chanastnya43                3                2.940000                  8.82
Strithenu87                 3                3.393333                 10.18
Sondastsda82                3                2.630000                  7.89
...                       ...                     ...                   ...
Haerith37                   1                1.660000                  1.66
Iduelis31                   1                1.100000                  1.10
Hiral75                     1                1.980000                  1.98
Idaisuir85                  1                3.150000                  3.15
Idacal95                    1                2.070000                  2.07
Iathenudil29                1                4.600000                  4.60
Iathem87                    1                3.190000                  3.19
Iasursti71                  1                1.660000                  1.66
Iasurriacal29               1                4.070000                  4.07
Iarallo65                   1                1.750000                  1.75
Iana95                      1                3.100000                  3.10
Ialidru40                   1                3.160000                  3.16
Iadueria43                  1                1.710000                  1.71
Hyaduesu61                  1                4.230000                  4.23
Hisridru55                  1                3.080000                  3.08
Hilaerin92                  1                3.610000                  3.61
Haerithp41                  1                4.400000                  4.40
Hiasurria41                 1                1.610000                  1.61
Hiarideu73                  1                2.500000                  2.50
Heunadil74                  1                1.540000                  1.54
Heudai45                    1                3.470000                  3.47
Heollyriap59                1                3.470000                  3.47
Heollyra92                  1                3.070000                  3.07
Hariphos58                  1                2.050000                  2.05
Hallysucal81                1                1.660000                  1.66
Hala31                      1                1.020000                  1.02
Haisurra41                  1                4.400000                  4.40
Hailaphos89                 1                3.810000                  3.81
Haestyphos66                1                1.970000                  1.97
Iskosian40                  1                3.070000                  3.07

[576 rows x 3 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [17]:
# Most popular
most_pop_analysis = purchase_data.loc[:,["Item ID","Item Name","Price"]]

# Groupby
most_pop_analysis_gb= most_pop_analysis.groupby(['Item ID','Item Name'])['Price'].mean()

# Count of items
most_pop_count = most_pop_analysis.groupby('Item ID')['Item ID'].count()

# Total puchase value
most_pop_total_purchase_value = most_pop_analysis_gb*most_pop_count

# Final dataframe
pd.DataFrame(most_pop_total_purchase_value)

one = pd.DataFrame(most_pop_count)
two = pd.DataFrame(most_pop_analysis_gb)
three= pd.DataFrame(most_pop_total_purchase_value)

fourth = one.join(two, how='outer')
final = fourth.join(three, how='outer')
final.columns = ['ID', 'Price', 'Total Purchase Value']
final.head(5)

                            ID  Price  Total Purchase Value
Item ID Item Name
0       Splinter             4   1.28                  5.12
1       Crucifer             3   3.26                  9.78
2       Verdict              6   2.48                 14.88
3       Phantomlight         6   2.49                 14.94
4       Bloodlord's Fetish   5   1.70                  8.50

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [21]:
# Sort by Total purchase to show most profitable item
final.sort_values(by=('Total Purchase Value'),ascending=False)

,,ID,Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80
59,"Lightning, Etcher of the King",8,4.23,33.84
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
78,"Glimmer, Ender of the Moon",7,4.40,30.80
72,Winter's Bite,8,3.77,30.16
60,Wolf,8,3.54,28.32
179,"Wolf, Promise of the Moonwalker",6,4.48,26.88
160,Azurewrath,6,4.40,26.40
25,Hero Cane,6,4.35,26.10
37,"Shadow Strike, Glory of Ending Hope",8,3.16,25.28
139,"Mercy, Katana of Dismay",5,4.94,24.70
128,"Blazeguard, Reach of Eternity",5,4.91,24.55
138,"Peacekeeper, Wit of Dark Magic",5,4.74,23.70
141,Persuasion,7,3.19,22.33
87,"Deluge, Edge of the West",5,4.43,22.15
159,"Oathbreaker, Spellblade of Trials",7,3.08,21.56
136,Ghastly Adamantite Protector,6,3.58,21.48
65,Conqueror Adamantite Mace,5,4.24,21.20
101,Final Critic,5,4.19,20.95
102,Avenger,6,3.44,20.64
133,Faith's Scimitar,5,4.09,20.45
39,"Betrayal, Whisper of Grieving Widows",5,3.94,19.70
111,Misery's End,4,4.89,19.56
165,Bone Crushing Silver Skewer,4,4.86,19.44
75,Brutality Ivory Warmace,8,2.42,19.36
52,Hatred,4,4.84,19.36
...,...,...,...,...
124,Venom Claymore,4,1.29,5.16
0,Splinter,4,1.28,5.12
155,War-Forged Gold Deflector,5,1.01,5.05
48,"Rage, Legacy of the Lone Victor",2,2.48,4.96
158,"Darkheart, Butcher of the Champion",2,2.45,4.90
51,Endbringer,1,4.66,4.66
134,Undead Crusader,1,4.50,4.50
30,Stormcaller,2,2.21,4.42
135,Warped Diamond Crusader,3,1.40,4.20
91,Celeste,1,4.17,4.17
177,"Winterthorn, Defender of Shifting Worlds",2,2.08,4.16
70,Hope's End,4,1.03,4.12
115,Spectral Diamond Doomblade,2,2.04,4.08
69,"Frenzy, Defender of the Harvest",2,1.98,3.96
47,"Alpha, Reach of Ending Hope",1,3.58,3.58
180,Stormcaller,1,3.36,3.36
27,"Riddle, Tribute of Ended Dreams",1,3.30,3.30
183,Dragon's Greatsword,3,1.09,3.27
31,Trickster,2,1.55,3.10
168,"Sun Strike, Jaws of Twisted Visions",2,1.48,2.96
90,Betrayer,1,2.94,2.94
33,Curved Axe,2,1.16,2.32
26,Unholy Wand,2,1.12,2.24
118,"Ghost Reaver, Longsword of Magic",1,2.17,2.17
28,"Flux, Destroyer of Due Diligence",2,1.06,2.12
125,Whistling Mithril Warblade,2,1.00,2.00
126,Exiled Mithril Longsword,1,2.00,2.00
23,Crucifer,1,1.99,1.99
104,Gladiator's Glaive,1,1.93,1.93
42,The Decapitator,1,1.75,1.75